$main: rgb(36, 45, 57);
$white: rgb(238, 238, 238);
html {
    background-color: $main;
    color: $white;
    text-align: center;
    body{
        font-family: "Josefin Sans", sans-serif;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-shadow: 0px 0px 10px rgba(#000, 0.5);
        .menu {
            margin: 2% auto;
            a {
                font-size: 120%;
                padding: 1% 4%;
                display: inline-block;
                text-decoration: none;
                // border-bottom: 2px rgba($white, 0) solid;
                color: rgba($white, 0.5);
                transition: 0.3s ease-out;
                border-radius: 10px;
                &:hover{
                    color: rgba($white, 0.75);
                    background-color: rgba(darken($main, 2%), 0.75);
                    // box-shadow: inset 0 0 10px rgba(#000, 0.5);
                }
            }

        }
        h1 {
            top: 40%;
            font-size: 1000%;
            font-weight: 200;
            text-shadow: 0px 0px 20px rgba(#000, 0.5);
        }
        h2, h3 {
            font-weight: normal;
        }
        .anim, .anim svg {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .anim path {
            stroke-width: 1;
        }
    }
}
